.model-wrap {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 100;
}

.content-wrap {
  overflow-y: auto;

  max-height: 90vh;
}

.dialog-active {
  display: flex;
}

.dialog-hidden {
  display: none;
}

.dialog-overlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;

  background: #0f0f0f;
  opacity: 0.7;

  z-index: 99;
}
